// _utilities.scss

@import 'variables';

// Utility classes
.text-center {
    text-align: center !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}
